*{
  background-color: #dad7cd  ;
}
h2,h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.main {
   margin-top: 1.5rem;
   margin-left: 1.5rem;
}
.lds-hourglass {
  display: inline-block;
  position: fixed;
  width: 80px;
  height: 80px;
  background: #f19c79;
  margin-left: 50%;
  margin-top: 40vh;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
